.btn {
  padding: 0.5rem;
  font-size: 1rem;
}

.btn {
  margin: 2rem auto 2rem auto;
  font-family: var(--def-font);
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  background-color: #3e52ff;
  color: var(--alt-font-color);
}

.btn:hover {
  transform: scale(1.05);
  transition: 0.2s;
  cursor: pointer;
}
