@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap");

:root {
  --alt-font-color: #ffffff;
  --def-font-color: #000000;
  --dot-color: orange;
  --menu-font-size: 1.2rem;
  --def-font: "Roboto Slab", serif;
  --card-bg-color: #585858;
  --small-font-size: 0.8rem;
  --def-font-weight: 300;
}
